.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); 
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute; /* Manual Changes */
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    white-space: nowrap;
}

.coins-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.coins {
    width: 100px;
    height: auto;
}

.coins-count {
    position: absolute;
    top: 52%;
    left: 82%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 200, 3);
    pointer-events: none;
}

.back-button {
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-right: 10px;
    width: 50px; /* Manual Changes */
    height: auto;
}

.back-button:hover {
    opacity: 0.8;
}

.language-button {
    background-color: #01dfe3; /* Fluorescent light blue */
    color: #000; /* Black text */
    border: 1.5px solid #000; /* Black border */
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 20px; /* Spacing adjustment */
    font-size: 0.9rem;
}

.language-button:hover {
    background-color: #02b5be; /* Slightly darker blue on hover */
    color: black; /* White text on hover */
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px;
        flex-wrap: nowrap;
    }

    .logo {
        font-size: 1rem; 
        margin: 5px 10px;
    }

    .coins-container {
        margin-right: 10px;
    }

    .coins {
        width: 80px;
    }

    .coins-count {
        font-size: 1rem;
        left: 83%;
    }

    .back-button {
        margin-right: 10px;
    }

    .language-button {
        padding: 4px 8px;
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
        flex-wrap: nowrap;
    }

    .logo {
        font-size: 0.9rem;
        margin: 5px 10px;
    }

    .coins-container {
        margin-right: 10px;
    }

    .coins {
        width: 60px;
    }

    .coins-count {
        font-size: 0.8rem;
        left: 84%;
    }

    .back-button {
        margin-right: 10px;
    }

    .language-button {
        padding: 3px 6px;
        font-size: 0.8rem;
        margin-right: 10px;
    }
}
