/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.navbar-left {
    font-size: 18px;
    color: black;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.language-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}