.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 140, 0, 0.2); /* Almost transparent orange */
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
  }
  
  .username {
    font-weight: bold;
    color: #333;
  }

  