/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #FF6F00, #FFAB40);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.discovery-container {
  width: 90%;
  height: 90%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

.story-content {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:hover:enabled {
  opacity: 0.8;
}

.record-button {
  background-color: #4CAF50; /* Green */
  margin-bottom: 30px;
}

.play-button {
  background-color: #673AB7; /* Purple */
}

.next-button {
  background-color: #FF5722; /* Orange */
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  width: auto;
  height: auto;
}

.back-button {
  background-color: #333; /* Dark */
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.help-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback, .api-response {
  margin-top: 20px;
  font-size: 1em;
  color: #333;
}
